@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wghht@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
}

section {
	width: 100vw;
	height: 100vh;
	float: left;
	background-size: cover;
}
.hero {
	background-image: url("hero.jpg");
	background-size: cover;
	background-position: center;

	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero-text {
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: "Playfair",serif;
	color: #fff;
	font-size: 120px;
	line-height: 44px;
	font-weight: 400;
}